<h2 mat-dialog-title>设置</h2>
<mat-dialog-content class="mat-typography">

    <form class="flex flex-col p-8 pb-0 overflow-hidden">
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>排序</mat-label>
                <mat-select [value]="'status'">
                    <mat-option  value="状态">Status</mat-option>
                    <mat-option value="名称" disabled>Name</mat-option>
                    <mat-option value="标签" disabled>Label</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Ata">

                    <div class="flex flex-col mt-5 gt-md:flex-row">
                        <mat-form-field class="flex-auto gt-md:pr-3">
                            <mat-label>临界误差阈值</mat-label>
                            <input matInput [value]="'10%'">
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-md:pl-3">
                            <mat-label>临界警告阈值</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                    <div class="flex flex-col gt-md:flex-row">
                        <mat-form-field class="flex-auto gt-md:pr-3">
                            <mat-label>错误阈值</mat-label>
                            <input matInput [value]="'20%'">
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-md:pl-3">
                            <mat-label>警告阈值</mat-label>
                            <input matInput [value]="'10%'">
                        </mat-form-field>
                    </div>

                </mat-tab>
                <mat-tab label="NVMe">

                    <div class="flex flex-col mt-5 gt-md:flex-row">
                        <mat-form-field class="flex-auto gt-md:pr-3">
                            <mat-label>严重错误阈值</mat-label>
                            <input matInput [value]="'enabled'">
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-md:pl-3">
                            <mat-label>严重告警阈值</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>

                </mat-tab>
                <mat-tab label="SCSI">
                    <div class="flex flex-col mt-5 gt-md:flex-row">
                        <mat-form-field class="flex-auto gt-md:pr-3">
                            <mat-label>严重错误阈值</mat-label>
                            <input matInput [value]="'enabled'">
                        </mat-form-field>
                        <mat-form-field class="flex-auto gt-md:pl-3">
                            <mat-label>严重告警阈值</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button matTooltip="尚未实现" [mat-dialog-close]="true" cdkFocusInitial>保存</button>
</mat-dialog-actions>
